{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
  ],
  "rules": {
    "no-bitwise": ["error", { "allow": ["~"] }],
    "no-tabs": 0,
    "indent": ["error", 2],
    "new-cap": [2, { "newIsCap": true, "capIsNew": false }],
    "space-before-function-paren": [2, "never"],
    "import/no-unresolved": [
      "error",
      {
        "caseSensitive": true,
        "commonjs": false
      }
    ],
    "react/prefer-es6-class": [0, "always"],
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-curly-spacing": [2, "never", "spacing": {"objectLiterals": "always"}],
    "react/jsx-filename-extension": 0,
    "react/prop-types": 2,
    "react/require-default-props": 0,
    "react/no-array-index-key": 0,
    "arrow-body-style": [0, "always"],
    "import/no-extraneous-dependencies": 0
  }
}
